@mixin img_transicion() {
    transition: transform 0.5s cubic-bezier(0.2, 0.8, 0.2, 1);
}

@mixin img_transicion_hover() {
    transform: scale(0.9);
}

.img_animate {
    @include img_transicion()
}

.img_animate:hover {
    @include img_transicion_hover()
}

.text-card {
    font-size: 0.9rem;
    color: $color_negro;
}

.contenedor-articulos {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.articulo {
    display: flex;
    flex-direction: column;
    border: 1px solid $color_blanco;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px $color_negro;
    margin: 10px;
    max-width: 260px;

    &.articulo {
        justify-content: center;
        align-items: center;
    }

    img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    .articulo-contenido {
        padding: 20px;

        h3 {
            margin-top: 0;
        }

        .articulo-boton {
            justify-content: flex-end;
            align-items: center;
        }
    }

    @media (max-width: 991px) {}

    @media (min-width: 768px) {
        flex-direction: row;

        .articulo-contenido {
            justify-content: center;
            align-items: center;
        }

        img {
            width: 40%;
            max-width: none;
        }
    }
}

@media (max-width: 991px) {
    .contenedor-articulos {
        align-items: center;
    }
}

.marca {
    display: flex;
    flex-direction: column;
    border: 1px solid $color_blanco;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px $color_negro;
    margin: 10px;
    width: 280px;
    height: 320px;
    padding: 1%;
    position: relative;

    .marca-image {
        img {
            width: 100%;
            height: auto;
            object-fit: contain;
            top: 1px;
            transition: transform 0.3s ease;
        }
    }

    .marca-contenido {
        margin-top: auto;
        display: flex;
        padding: 20px;
        justify-content: center;
        align-items: end;

        opacity: 0;
        transition: opacity 0.4s ease;

        h3 {
            margin-top: 0;
        }
    }

    &:hover {
        .marca-image {
            transform: translateY(-7px);
        }

        .marca-contenido {
            opacity: 1;
        }
    }

    @media (max-width: 992px) {

        .marca-contenido {
            display: none;
        }
    }

    @media (max-width: 768px) {

        align-items: center;
        justify-content: center;


        .marca-image {
            width: 40%;
            max-height: none;
        }
    }
}

.vendidos {
    display: flex;
    flex-direction: column;
    border: 1px solid $color_blanco;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px $color_negro;
    margin: 10px;
    width: 100%;

    .vendidos-image {
        img {
            width: 100%;
            height: auto;
            max-height: 200px;
            object-fit: contain;
        }
    }

    .vendidos-content {
        padding: 20px;

        h3 {
            margin-top: 0;
        }
    }


    @media (min-width: 768px) {
        flex-direction: row;

        .vendidos-content {
            flex: 1;
        }

        .vendidos-image {
            width: 40%;
            max-height: none;
        }
    }
}

.contenedor-aviso {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}

.aviso {
    display: flex;
    flex-direction: column;
    border: 1px solid $color_blanco;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px $color_negro;
    margin: 10px;
    max-width: 600px;

    .aviso-image {
        img {
            width: 100%;
            height: auto;
            max-height: 200px;
            object-fit: contain;
            border-radius: 10px;
        }
    }

    .aviso-contenido {
        display: flex;
        flex-direction: column;

        h3 {
            text-align: center;
        }
    }

    .aviso-contenido {
        display: flex;
        padding: 20px;

        h3 {
            margin-top: 0;
        }
    }

    @media (min-width: 992px) {
        &.aviso {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    @media (min-width: 768px) {

        align-items: center;
        justify-content: center;

        .aviso-contenido {
            display: 1;
        }

        .aviso-image {
            width: 40%;
            max-height: none;
        }
    }
}

.info-marca {
    display: flex;
    max-width: 1200px;
    gap: 1rem;
    font-family: $font_montserrat;

    div {
        max-width: 800px;
    }

    img {
        height: 250px;
        width: 370px;
        object-fit: contain;
    }

    &.info-marca {
        margin: 1rem auto;
    }

    @media (max-width: 992px) {
        flex-direction: column;

        img {
            width: 300px;
        }
    }
}
.reverse {
    flex-direction: row-reverse;

    @media (max-width: 992px) {
        flex-direction: column;
    }
}