.card {
    width: 17rem;

    .cont-img {
        max-width: 100%;
        height: auto;
        padding: .8rem;
    }
}

.new-card {
    
}

.card-info {
    max-width: 40rem;
}

.card-marca {
    width: 14rem;
    margin: 1rem .8rem;
    overflow: hidden;
}

.card-footer {
    background-color: $color_blanco;
    padding: 10px 20px;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-card {
    font-size: 0.9rem;
    color: $color_negro;
}

@media (max-width: 998px) {

    .p-vendidos {

        .card {
            margin: .7rem 0;
        }
    }

}

@media (max-width: 767px) {
    .card-title {
        font-size: 1rem;
    }

    .card-deck {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card {
        margin: .5rem;
    }
}

@media (max-width: 408px) {
    .card-info {
        width: 16rem;
    }

}

.contenedor-articulos {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.articulo {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 100%;

    img {
        width: 100%;
        height: auto;
        object-fit: contain; // Cambiamos 'cover' a 'contain'
    }
    
    .articulo-contenido {
        padding: 20px;
    
        h3 {
          margin-top: 0;
        }
    }

    @media (min-width: 768px) {
        flex-direction: row;

        .card-content {
        flex: 1;
        }

        img {
            width: 40%;
            max-width: none;
        }
    }
}

.articulo-boton {
    background: none;
    border: none;
    background-color: #00315d;
    color: $color_blanco;
    font-size: 1rem;
    font-family: 'Roboto Serif', serif;
    padding: 10px 20px;
    border-radius: 1rem;
    transition: transform 0.5s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.articulo-boton:hover {
    background-color: rgb(7, 90, 142);
    transform: scale(0.9);
}

@media (max-width: 991px) {
    .contenedor-articulos {
        flex-direction: column;
        align-items: center;
    }
}
