.img-principal {
    height: 30rem;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    opacity: 0.5;
}

.img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    margin: auto;
    transition: transform 0.5s cubic-bezier(0.2, 0.8, 0.2, 1);
}
.img:hover {
    transform: scale(0.9); 
}
  
.producto-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}