nav {
    font-family: "Montserrat", sans-serif;

    ul {

        li {
            color: rgba(0,136,169,1);
        }
    }
}

.navbar-toggler {
    color: $color_blanco;
}

.bg-nav-footer {
    background-color: $color_negro;
}

.texto-nav-footer {
    color: $color_blanco;
}

.nav-link {
    color: $color_blanco;
    transition: transform 0.5s cubic-bezier(0.2, 0.8, 0.2, 1);
    
}

.nav-link:hover {
    transform: scale(0.9);
    color: rgba(0,136,169,1);
}
